{% extends "base.html.twig" %}

{% block main %}
	<div class="col-md-12 wt-container-1181498" id="wt-container-instance-4215000">
		<div class="col-md-12 wt-container-1194763" id="wt-container-instance-4254970">
			<h1 class="col-md-12 wt-container-1194422" id="wt-container-instance-4254971">
				Contactez nos artisans multiservices de JPS R&eacute;novation &agrave; Nice
			</h1>
			<h2 class="col-md-12 wt-container-1194423" id="wt-container-instance-4254972">
				Contactez-nous
			</h2>
			<article class="col-md-12 wt-container-1181496" id="wt-container-instance-4254973">
				<div>
					<p>N&rsquo;h&eacute;sitez pas &agrave; nous adresser vos demandes &agrave; l&#39;aide de ce formulaire de contact, nous vous r&eacute;pondrons dans les plus brefs d&eacute;lais.</p>
				</div>
			</article>
			<div class="col-md-12 col-md-offset-0 wt-container-1181496" id="wt-container-instance-4254981">


				<form name="contact_message_form_type" method="post" action="https://webtool.local.fr/__contact-form-endpoint" id="contact-block-configuration-42776" class="contact-block-configuration bar">
					<input type="text" id="contact_message_form_type_nom" name="contact_message_form_type[nom]" required="required" placeholder="Votre nom" class="input-text"/>

					<input type="email" id="contact_message_form_type_email" name="contact_message_form_type[email]" required="required" placeholder="Votre email" class="input-email"/>

					<input type="text" id="contact_message_form_type_telephone" name="contact_message_form_type[telephone]" required="required" placeholder="Votre numéro de téléphone" class="input-phone"/>

					<textarea id="contact_message_form_type_message" name="contact_message_form_type[message]" required="required" placeholder="Votre message" class="input-text" rows="15"></textarea>


					<div class="send-grid" style="display: grid">
						<div id="recaptcha-42776"></div>
						<div class="send-button">
							<input type="submit" value="Envoyer"/>
						</div>
						<div class="legal">
							<br/>
							Afin de traiter votre demande, JPS RENOVATION devra effectuer un traitement des données personnelles vous concernant. Les données sont conservées pendant 2 ans à compter de notre dernier contact et sont destinées exclusivement à JPS RENOVATION, elles ne seront pas transmises à des tiers.
							<br/><br/>
							Conformément à la loi Informatique et Libertés du 6 janvier 1978 modifiée, vous bénéficiez d’un droit d’accès et de rectification des données vous concernant, d’un droit d’opposition pour motifs légitimes, d’un droit à l’effacement des données. Vous disposez également d’un droit à la récupération et à la portabilité des données dans certains cas spécifiquement prévus par la loi.
							<br/><br/>
							Pour l’exercice de vos droits veuillez contacter :
							<br/>
							JPS RENOVATION, Monsieur Landolsi
														Immeuble &quot;Le bel Air&quot; 
														34, Avenue Cap de Croix, 06100 NICE
							<br/>
							contact@jpsrenovation06.fr
						</div>
					</div>
					<div>
						<div id="contact_message_form_type_attachments" placeholder="Ajouter une pièce jointe" class="input-file"></div>
					</div><input type="hidden" id="contact_message_form_type_settings" name="contact_message_form_type[settings]" value="{&quot;configuration_class&quot;:&quot;Webtool\\ContactBundle\\Entity\\Block\\ContactBlockConfiguration&quot;,&quot;configuration_id&quot;:42776,&quot;domain_name_original_id&quot;:18367}"/></form>
			</div>
			<div class="col-md-12 wt-container-1181496" id="wt-container-instance-4255167">
				<div class="company-map-box" id="company-map-box-30453">
					<img class="company-logo" src="/prod/webtool/media/cache/map_logo/userfiles/24083/Logo-maps.jpg"/>
					<div class="address" id="address-30453">34 Avenue cap de croix</div>
					<div class="city" id="city-30453">06100 Nice ( Cimiez )</div>Tel.
					<a href="tel:0661565736" class="inherit-links">06 61 56 57 36</a>
					-
					<a href="tel:0758426207" class="inherit-links">07 58 42 62 07</a>
				</div>

				<form class="destination-form" id="destination-form-30453">
					<label for="departure">Adresse de départ :</label>
					<input type="text" class="form-control departure" id="departure-30453">
					<button class="btn btn-secondary btn-destination-calculate" type="submit">Calculer l'itinéraire</button>
					<input class="geocode" type="hidden" id="geocode-30453" value="true">
					<input class="arrival" type="hidden" id="arrival-30453" value="34 Avenue cap de croix 06100 Nice ( Cimiez )">
				</form>

				<div class="map-canvas" id="map-canvas-30453" data-type="map.route"></div>

				<div class="directions-panel" id="directions-panel-30453"></div>
			</div>
			<h3 class="col-md-12 wt-container-1194430" id="wt-container-instance-4255168">
				Entreprise de r&eacute;novation dans les Alpes-Maritimes
			</h3>
			<div class="col-md-12 col-md-offset-0 wt-container-1194743" id="wt-container-instance-4254917">
				<div class="col-md-4 col-md-offset-0 wt-container-1194744" id="wt-container-instance-4254918">
					<article class="col-md-12 wt-container-1181496" id="wt-container-instance-4254914">
						<div>
							<div>
								<ul>
									<li>&Eacute;lectricit&eacute;</li>
									<li>Plomberie</li>
									<li>Ma&ccedil;onnerie</li>
									<li>Chauffage</li>
									<li>Ventilation</li>
								</ul>
							</div>
						</div>
					</article>
				</div>
				<div class="col-md-4 col-md-offset-0 wt-container-1194746" id="wt-container-instance-4254920">
					<article class="col-md-12 wt-container-1181496" id="wt-container-instance-4254916">
						<div>
							<ul>
								<li>Peinture</li>
								<li>Pl&acirc;trerie</li>
								<li>Cloisonnement</li>
								<li>Carrelage</li>
								<li>Pose de parquet</li>
							</ul>
						</div>
					</article>
				</div>
				<div class="col-md-4 col-md-offset-0 wt-container-1194831" id="wt-container-instance-4255169">
					<article class="col-md-12 wt-container-1181496" id="wt-container-instance-4255170">
						<div>
							<div>
								<div>
									<ul>
										<li>Isolation</li>
										<li>Menuiserie</li>
										<li>Placards</li>
										<li>Am&eacute;nagement int&eacute;rieur</li>
										<li>Am&eacute;nagement ext&eacute;rieur</li>
									</ul>
								</div>
							</div>
						</div>
					</article>
				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}
