{% extends "base.html.twig" %}

{% block main %}
<div class="col-md-12 wt-container-1181498" id="wt-container-instance-4215000">
<div class="col-md-12 wt-container-1194538" id="wt-container-instance-4254299">
<h1 class="col-md-12 wt-container-1194422" id="wt-container-instance-4254300">
&Eacute;lectricit&eacute; et plomberie &agrave; Nice, JPS R&eacute;novation
</h1>
<h2 class="col-md-12 wt-container-1194423" id="wt-container-instance-4254301">
Faites appel &agrave; nos &eacute;lectriciens et plombiers dans les Alpes-Maritimes
</h2>
<article class="col-md-12 wt-container-1181496" id="wt-container-instance-4254302">
<p>Nos <strong>experts en travaux d&rsquo;&eacute;lectricit&eacute;</strong> vous garantissent un travail complet dans le respect des normes et de la r&eacute;glementation en vigueur.</p>

<p>De la <strong>recherche de&nbsp;pannes</strong>&nbsp;&agrave;&nbsp;la mise aux normes des installations, <strong>JPS R&eacute;novation</strong> vous assure le bon fonctionnement de toutes vos installations !</p>
</article>
<h3 class="col-md-12 wt-container-1194430" id="wt-container-instance-4254303">
Une panoplie de prestations d&rsquo;&eacute;lectricit&eacute;&nbsp;!
</h3>
<div class="col-md-10 col-md-offset-1 wt-container-1194531" id="wt-container-instance-4254289">
<article class="col-md-6 col-md-offset-0 wt-container-1181496" id="wt-container-instance-4254282">
<p><em>R&eacute;alisez en toute s&eacute;curit&eacute; tous vos travaux d&rsquo;&eacute;lectricit&eacute; en faisant appel &agrave;<strong> JPS R&eacute;novation &agrave; Nice&nbsp;</strong>!</em></p>

<p>Nos <strong>&eacute;lectriciens</strong> effectuent tous vos travaux de&nbsp;:</p>

<p>&nbsp;</p>

<ul>
	<li>R&eacute;vision des installations existantes</li>
	<li>Recherche de panne</li>
	<li>Mise aux normes des installations actuelles</li>
	<li>Installation compl&egrave;te encastr&eacute;e ou en applique</li>
	<li>Installation &eacute;lectrique haute et basse tension</li>
	<li>Installation de tableaux &eacute;lectriques et r&eacute;seaux de communication</li>
	<li>Branchement des appareils</li>
	<li>Installation d&rsquo;interphones, alarmes et d&eacute;tecteurs de fum&eacute;e</li>
	<li>Installation de syst&egrave;mes domotiques</li>
	<li>Installation de tout type d&rsquo;&eacute;clairage</li>
</ul>
</article>
<article class="col-md-6 col-md-offset-0 wt-container-1181496" id="wt-container-instance-4254283">
<img alt="" src="/prod/webtool/userfiles/24083/%c3%89lectricit%c3%a9-et-plomberie-%c3%a0-Nice%2c-JPS-R%c3%a9novation1.1.jpg" style="max-width: 750px; width: 100%;" />
</article>
</div>
<h3 class="col-md-12 wt-container-1194430" id="wt-container-instance-4254304">
Travaux de plomberie &agrave; Nice et Monaco
</h3>
<div class="col-md-10 col-md-offset-1 wt-container-1194539" id="wt-container-instance-4254305">
<article class="col-md-6 col-md-offset-0 wt-container-1181496" id="wt-container-instance-4254306">
<img alt="" src="/prod/webtool/userfiles/24083/%c3%89lectricit%c3%a9-et-plomberie-%c3%a0-Nice%2c-JPS-R%c3%a9novation.jpg" style="max-width: 750px; width: 100%;" />
</article>
<article class="col-md-6 col-md-offset-0 wt-container-1181496" id="wt-container-instance-4254307">
<p>Actifs et r&eacute;actifs, nos <strong>plombiers</strong>&nbsp;se d&eacute;placent sur site pour&nbsp;:</p>

<p>&nbsp;</p>

<ul>
	<li>L&rsquo;installation compl&egrave;te de syst&egrave;mes de plomberie &agrave; partir de l&#39;arriv&eacute;e du point d&#39;eau</li>
	<li>L&#39;installation compl&egrave;te de salles de bains et salles d&rsquo;eau</li>
	<li>L&rsquo;installation de douches &agrave; l&rsquo;italienne</li>
	<li>L&rsquo;installation de WC suspendus</li>
	<li>L&rsquo;installation de jacuzzi, de spa et de baignoires baln&eacute;o</li>
	<li>L&rsquo;installation de chauffe-eau &eacute;lectriques, thermodynamiques et solaires</li>
	<li>L&rsquo;installation des &eacute;l&eacute;ments pour traitement de l&rsquo;eau</li>
	<li>L&rsquo;installation de douches, salles de bains et WC pour personnes &agrave; mobilit&eacute; r&eacute;duite</li>
</ul>
</article>
</div>
<article class="col-md-12 wt-container-1181496" id="wt-container-instance-4254308">
<p>Pour de plus amples informations, contactez nos <a class="inherit-links" href="{{path('contact')}}"><span style="color:#000000;"><strong><u>&eacute;lectriciens plombiers &agrave; Nice</u></strong></span></a>.</p>
</article>
</div>
</div>
{% endblock %}