{% extends "base.html.twig" %}

{% block main %}
	<div class="col-md-12 wt-container-1181498" id="wt-container-instance-4215000">
		<div class="col-md-12 wt-container-1194674" id="wt-container-instance-4254738">
			<h1 class="col-md-12 wt-container-1194422" id="wt-container-instance-4254739">
				Menuiserie, placards et am&eacute;nagement &agrave; Nice
			</h1>
			<h2 class="col-md-12 wt-container-1194423" id="wt-container-instance-4254740">
				JPS R&eacute;novation&hellip;pour des prestations sur-mesure dans les Alpes-Maritimes
			</h2>
			<article class="col-md-12 wt-container-1181496" id="wt-container-instance-4254741">
				<p>
					<em>Pour tous vos travaux de
						<strong>menuiseries int&eacute;rieures et ext&eacute;rieures</strong>, faites appel nos
						<strong>menuisiers JPS R&eacute;novation &agrave; Nice</strong>.</em>
				</p>

				<p>Nos
					<strong>menuisiers
					</strong>effectuent tous vos
					<strong>travaux d&rsquo;am&eacute;nagement</strong>
					et de
					<strong>pose de placards</strong>, tout en respectant votre demande et le d&eacute;lai convenu.</p>

				<p>Ils disposent de tout le mat&eacute;riel n&eacute;cessaire&nbsp;pour accomplir les diff&eacute;rentes t&acirc;ches.</p>

				<p>O&ugrave; que vous soyez &agrave;
					<strong>Monaco</strong>, &agrave;
					<strong>Menton</strong>
					ou &agrave;
					<strong>Beausoleil</strong>, nous vous proposons des prestations personnalis&eacute;es et digne de confiance.</p>
			</article>
			<h3 class="col-md-12 wt-container-1194430" id="wt-container-instance-4254742">
				Travaux de Menuiserie &agrave; Monaco et Nice
			</h3>
			<div class="col-md-10 col-md-offset-1 wt-container-1194653" id="wt-container-instance-4254675">
				<article class="col-md-6 col-md-offset-0 wt-container-1181496" id="wt-container-instance-4254672">
					<p>Pour r&eacute;pondre &agrave; toutes vos demandes, notre &eacute;quipe de professionnels&nbsp;vous propose :</p>

					<p>&nbsp;</p>

					<ul>
						<li>La pose de tout type de portes&nbsp;: d&rsquo;entr&eacute;e, d&rsquo;int&eacute;rieur, de coulissante, &agrave; galandage&hellip;</li>
						<li>La pose de portes blind&eacute;es et blindage de portes d&rsquo;entr&eacute;e d&rsquo;appartement</li>
						<li>La pose de fen&ecirc;tres, de portes fen&ecirc;tres, de fen&ecirc;tres de toit et baies vitr&eacute;es (en bois, PVC, aluminium)</li>
						<li>L&rsquo;installation de volets battants et roulants</li>
						<li>Les travaux de serrurerie</li>
						<li>L&rsquo;installation de meubles de cuisines et salles de bains</li>
						<li>L&rsquo;installation de tout type d&rsquo;escaliers</li>
					</ul>
				</article>
				<article class="col-md-6 col-md-offset-0 wt-container-1181496" id="wt-container-instance-4254671">
					<img alt="" src="/prod/webtool/userfiles/24083/Menuiserie%2c-placards-et-am%c3%a9nagement-%c3%a0-Nice-1.1.jpg" style="max-width: 750px; width: 100%;"/>
				</article>
			</div>
			<h3 class="col-md-12 wt-container-1194430" id="wt-container-instance-4254743">
				Pose de placards et am&eacute;nagements &agrave; Nice
			</h3>
			<div class="col-md-10 col-md-offset-1 wt-container-1194675" id="wt-container-instance-4254744">
				<article class="col-md-6 col-md-offset-0 wt-container-1181496" id="wt-container-instance-4254745">
					<img alt="" src="/prod/webtool/userfiles/24083/Menuiserie%2c-placards-et-am%c3%a9nagement-%c3%a0-Nice.jpg" style="max-width: 750px; width: 100%;"/>
				</article>
				<article class="col-md-6 col-md-offset-0 wt-container-1181496" id="wt-container-instance-4254746">
					<p>Outre les travaux de
						<strong>menuiserie</strong>, nos
						<strong>artisans&nbsp;menuisiers</strong>
						vous proposent leurs services pour&nbsp;:</p>

					<p>&nbsp;</p>

					<ul>
						<li>La cr&eacute;ation d&rsquo;espaces pour le rangement personnalis&eacute;</li>
						<li>La cr&eacute;ation et l&rsquo;installation de meubles divers pour tout type de pi&egrave;ce</li>
						<li>L&rsquo;installation de meubles de bureau</li>
						<li>La conception et la mise en place de dressings</li>
						<li>La fourniture et l&rsquo;installation de fa&ccedil;ades d&eacute;coratives et s&eacute;parations de pi&egrave;ces</li>
					</ul>
				</article>
			</div>
			<article class="col-md-12 wt-container-1181496" id="wt-container-instance-4254747">
				<p>Pour de plus amples informations, contactez nos
					<a class="inherit-links" href="{{path('contact')}}">
						<span style="color:#000000;">
							<strong>
								<u>menuisiers &agrave; Nice</u>
							</strong>
						</span>
					</a>.</p>
			</article>
		</div>
	</div>
{% endblock %}
