{% extends "base.html.twig" %}

{% block main %}
	<div class="col-md-12 wt-container-1181498" id="wt-container-instance-4215000">
		<div class="col-md-12 wt-container-1194614" id="wt-container-instance-4254546">
			<h1 class="col-md-12 wt-container-1194422" id="wt-container-instance-4254547">
				Peinture, pl&acirc;trerie et cloisonnement &agrave; Nice
			</h1>
			<h2 class="col-md-12 wt-container-1194423" id="wt-container-instance-4254548">
				Faites appel &agrave; nos peintres pl&acirc;triers de JPS R&eacute;novation dans les Alpes-Maritimes
			</h2>
			<article class="col-md-12 wt-container-1181496" id="wt-container-instance-4254549">
				<p>Notre
					<strong>entreprise de r&eacute;novation</strong>
					<strong>&agrave; Nice
					</strong>vous propose ses services pour tous vos travaux de
					<strong>peinture</strong>, de
					<strong>pl&acirc;trerie</strong>
					et de
					<strong>cloisonnement</strong>.</p>

				<p>
					<em>O&ugrave; que vous soyez &agrave;
						<strong>Nice
						</strong>ou &agrave; ses alentours,
						<strong>JPS R&eacute;novation
						</strong>est votre partenaire de confiance&nbsp;!</em>
				</p>

				<p>Nos
					<strong>peintres pl&acirc;triers</strong>&nbsp;orientent votre choix vers les mat&eacute;riaux les plus r&eacute;sistants et les couleurs qui s&#39;harmonisent le plus avec&nbsp;votre espace.</p>

				<p>Ils ma&icirc;trisent toutes les techniques de pose de chaque secteur d&rsquo;activit&eacute;.</p>
			</article>
			<h3 class="col-md-12 wt-container-1194430" id="wt-container-instance-4254550">
				Embellissez votre int&eacute;rieur ou votre ext&eacute;rieur dans le 06 !
			</h3>
			<div class="col-md-10 col-md-offset-1 wt-container-1194605" id="wt-container-instance-4254515">
				<article class="col-md-6 col-md-offset-0 wt-container-1181496" id="wt-container-instance-4254513">
					<p>Sp&eacute;cialis&eacute;s dans les travaux de
						<strong>peinture</strong>, nos artisans&nbsp;<strong>peintres</strong>
						garantissent des finitions irr&eacute;prochables. Ils mettent &agrave; votre disposition un large choix de couleurs pour satisfaire toutes vos envies. Ils prennent en charge&nbsp;vos travaux de&nbsp;:</p>

					<p>&nbsp;</p>

					<ul>
						<li>Peinture compl&egrave;te ou partielle</li>
						<li>Peinture d&eacute;corative et trompe l&rsquo;&oelig;il</li>
						<li>Enduits d&eacute;coratifs</li>
						<li>Pose de papiers peints</li>
						<li>Pose de tentures murales</li>
						<li>Ravalement de fa&ccedil;ade</li>
					</ul>
				</article>
				<article class="col-md-6 col-md-offset-0 wt-container-1181496" id="wt-container-instance-4254514">
					<img alt="" src="/prod/webtool/userfiles/24083/Peinture%2c-pl%c3%a2trerie-et-cloisonnement-%c3%a0-Nice-1.1.jpg" style="max-width: 750px; width: 100%;"/>
				</article>
			</div>
			<h3 class="col-md-12 wt-container-1194430" id="wt-container-instance-4254551">
				Travaux de pl&acirc;trerie et de cloisonnement &agrave; Monaco
			</h3>
			<div class="col-md-10 col-md-offset-1 wt-container-1194615" id="wt-container-instance-4254552">
				<article class="col-md-6 col-md-offset-0 wt-container-1181496" id="wt-container-instance-4254553">
					<img alt="" src="/prod/webtool/userfiles/24083/Peinture%2c-pl%c3%a2trerie-et-cloisonnement-%c3%a0-Nice.jpg" style="max-width: 750px; width: 100%;"/>
				</article>
				<article class="col-md-6 col-md-offset-0 wt-container-1181496" id="wt-container-instance-4254554">
					<p>&nbsp;Pour tous&nbsp;vos chantiers de cloisonnement et de pose de plaques de pl&acirc;tre, nos
						<strong>pl&acirc;triers</strong>&nbsp;vous assurent un travail bien fini. Ils prennent en charge :</p>

					<p>&nbsp;</p>

					<p>&nbsp;</p>

					<ul>
						<li>La pose de cloisons en carreaux de pl&acirc;tre et BA13</li>
						<li>La r&eacute;alisation de contre-cloisons en Placostil</li>
						<li>L&#39;installation de syst&egrave;mes de faux plafonds</li>
						<li>La pose de plafonds d&eacute;montables</li>
						<li>La pose de plafonds en staff</li>
					</ul>
				</article>
			</div>
			<article class="col-md-12 wt-container-1181496" id="wt-container-instance-4254555">
				<p>Pour plus de renseignements,&nbsp;contactez nos
					<a class="inherit-links" href="{{path('contact')}}">
						<span style="color:#000000;">
							<strong>
								<u>peintres pl&acirc;triers &agrave; Nice</u>
							</strong>
						</span>
					</a>.</p>
			</article>
		</div>
	</div>
{% endblock %}
