{% extends "base.html.twig" %}

{% block main %}
	<div class="col-md-12 wt-container-1181498" id="wt-container-instance-4215000">
		<div class="col-md-12 wt-container-1194508" id="wt-container-instance-4254218">
			<h1 class="col-md-12 wt-container-1194422" id="wt-container-instance-4254219">
				Les prestations de JPS R&eacute;novation &agrave; Nice
			</h1>
			<h2 class="col-md-12 wt-container-1194423" id="wt-container-instance-4254220">
				Peinture, ma&ccedil;onnerie, menuiserie, plomberie&hellip;dans les Alpes-Maritimes
			</h2>
			<article class="col-md-12 wt-container-1181496" id="wt-container-instance-4254221">
				<p>
					<strong>JPS R&eacute;novation
					</strong>est en mesure de prendre en charge vos diff&eacute;rents
					<strong>travaux de r&eacute;novation&nbsp;tous corps d&rsquo;&eacute;tat.</strong>
				</p>

				<p>Qu&rsquo;il s&rsquo;agisse de pose de
					<strong>moquette</strong>, de pose de
					<strong>carrelage</strong>
					ou de pose de
					<strong>fen&ecirc;tre</strong>,
					<strong>JPS R&eacute;novation</strong>
					<strong>&agrave; Nice
					</strong>est votre interlocuteur de confiance.</p>

				<p>Nous restons &agrave; votre service pour la r&eacute;alisation de tous vos projets de&nbsp;:</p>
			</article>
			<div class="col-md-12 col-md-offset-0 wt-container-1194464" id="wt-container-instance-4254105">
				<div class="col-md-3 col-md-offset-0 wt-container-1194465" id="wt-container-instance-4254106">
					<article class="col-md-12 wt-container-1181496" id="wt-container-instance-4254103">
						<ul>
							<li>D&eacute;coration</li>
						</ul>
					</article>
				</div>
				<div class="col-md-2 col-md-offset-0 wt-container-1194466" id="wt-container-instance-4254107">
					<article class="col-md-12 wt-container-1181496" id="wt-container-instance-4254104">
						<ul>
							<li>Peinture ext&eacute;rieure</li>
						</ul>
					</article>
				</div>
				<div class="col-md-2 col-md-offset-0 wt-container-1194525" id="wt-container-instance-4254263">
					<article class="col-md-12 wt-container-1181496" id="wt-container-instance-4254264">
						<ul>
							<li>Peinture int&eacute;rieure</li>
						</ul>
					</article>
				</div>
				<div class="col-md-2 col-md-offset-0 wt-container-1194526" id="wt-container-instance-4254265">
					<article class="col-md-12 wt-container-1181496" id="wt-container-instance-4254266">
						<ul>
							<li>Rev&ecirc;tement de sols</li>
						</ul>
					</article>
				</div>
				<div class="col-md-3 col-md-offset-0 wt-container-1194527" id="wt-container-instance-4254267">
					<article class="col-md-12 wt-container-1181496" id="wt-container-instance-4254268">
						<ul>
							<li>Ravalement de fa&ccedil;ade</li>
						</ul>
					</article>
				</div>
			</div>
			<article class="col-md-12 wt-container-1181496" id="wt-container-instance-4254269">
				Nous vous assurons un chantier propre et la rapidit&eacute; du service&nbsp;!
			</article>
			<h3 class="col-md-12 wt-container-1194430" id="wt-container-instance-4254270">
				Travaux de r&eacute;novation &agrave; Monaco
			</h3>
			<div class="col-md-10 col-md-offset-1 wt-container-1194528" id="wt-container-instance-4254271">
				<article class="col-md-6 col-md-offset-0 wt-container-1181496" id="wt-container-instance-4254272">
					<p>Exp&eacute;riment&eacute;s et qualifi&eacute;s,&nbsp;nos
						<strong>artisans multiservices</strong>
						prennent en charge&nbsp;:</p>

					<ul>
						<li>La d&eacute;molition des cloisons</li>
						<li>La cr&eacute;ation de cloisons et de faux plafonds</li>
						<li>La cr&eacute;ation de salle de bains,&nbsp;cuisine, chambres</li>
						<li>Les travaux d&rsquo;am&eacute;nagement...</li>
					</ul>
				</article>
				<article class="col-md-6 col-md-offset-0 wt-container-1181496" id="wt-container-instance-4254273">
					<img alt="" src="/prod/webtool/userfiles/24083/Les-prestations-de-JPS-R%c3%a9novation-%c3%a0-Nice.jpg" style="max-width: 750px; width: 100%;"/>
				</article>
			</div>
			<h3 class="col-md-12 wt-container-1194430" id="wt-container-instance-4254274">
				Autres prestations de r&eacute;novations dans les&nbsp;Alpes-Maritimes
			</h3>
			<div class="col-md-10 col-md-offset-1 wt-container-1194529" id="wt-container-instance-4254275">
				<article class="col-md-6 col-md-offset-0 wt-container-1181496" id="wt-container-instance-4254276">
					<img alt="" src="/prod/webtool/userfiles/24083/Les-prestations-de-JPS-R%c3%a9novation-%c3%a0-Nice-1.1.jpg" style="max-width: 750px; width: 100%;"/>
				</article>
				<article class="col-md-6 col-md-offset-0 wt-container-1181496" id="wt-container-instance-4254277">
					<p>Pour compl&eacute;ter notre gamme de prestations, nous prenons &eacute;galement en charge :</p>

					<p>&nbsp;</p>

					<ul>
						<li>Les travaux de terrassement</li>
						<li>La pose de fen&ecirc;tres&nbsp;</li>
						<li>La pose de moquettes</li>
						<li>La pose de carrelage&nbsp;</li>
						<li>Les travaux d&#39;&eacute;lectricit&eacute;&nbsp;</li>
						<li>L&#39;isolation des murs</li>
						<li>La pose de parquets</li>
						<li>Les travaux apr&egrave;s d&eacute;g&acirc;ts des eaux</li>
						<li>La cr&eacute;ation de jardins</li>
						<li>L&rsquo;&eacute;lagage</li>
						<li>L&rsquo;entretien des espaces verts</li>
						<li>La cr&eacute;ation de tout type de piscine</li>
						<li>La r&eacute;alisation de goudronnage et enrob&eacute; des all&eacute;es de jardin...</li>
					</ul>
				</article>
			</div>
			<article class="col-md-12 wt-container-1181496" id="wt-container-instance-4254278">
				<p>Pour plus de d&eacute;tails ou demande de devis gratuit, n&rsquo;h&eacute;sitez pas &agrave; contacter nos
					<a class="inherit-links" href="{{path('contact')}}">
						<span style="color:#000000;">
							<strong>
								<u>artisans multiservices &agrave; Nice</u>
							</strong>
						</span>
					</a>.</p>
			</article>
		</div>
	</div>
{% endblock %}
