@media (min-width: 12in) {
    .migration > .cl-effect-13 .branch li {
        box-shadow: #aaaaaa 5px 5px 5px;
        -moz-box-shadow: #aaaaaa 5px 5px 5px;
        -webkit-box-shadow: #aaaaaa 5px 5px 5px;
    }
    /* Effect 13: three circles */
    .cl-effect-13 a:not(.menu-picture-link) {
        -webkit-transition: color 0.3s;
        -moz-transition: color 0.3s;
        transition: color 0.3s;
    }

    .cl-effect-13 a:not(.menu-picture-link)::before {
        position: absolute;
        top: 60%;
        left: 50%;
        color: transparent;
        content: '•';
        text-shadow: 0 0 transparent;
        font-size: 1.2em;
        -webkit-transition: text-shadow 0.3s, color 0.3s;
        -moz-transition: text-shadow 0.3s, color 0.3s;
        transition: text-shadow 0.3s, color 0.3s;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        transform: translateX(-50%);
        pointer-events: none;
    }

    .cl-effect-13 a:not(.menu-picture-link):hover::before,
    .cl-effect-13 a:not(.menu-picture-link):focus::before {
        color: #fff;
        text-shadow: 0.625em 0 #fff, -0.625em 0 #fff; /* 10/16, -10/16 */
    }
}
